<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node Socket</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"
    integrity="sha512-zoJXRvW2gC8Z0Xo3lBbao5+AS3g6YWr5ztKqaicua11xHo+AvE1b0lT9ODgrHTmNUxeCw0Ry4BGRYZfXu70weg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
  <h1>Node Socket IO</h1>
  <script>
    const socket = io('http://localhost:3000'); // Just provide the base URL

    socket.on('connect', () => {
      console.log('Connected to the server');
      // Emit your events after connecting
      socket.emit('participants', { booking_id: 46 });
      // socket.emit('assign_targets', {
      //     booking_id: 14,
      //     participants_id: 462,
      //     target: 'right'
      // });
      // socket.emit('winner_list', {
      //     booking_id: 14
      // });

      // socket.emit('playing', {
      //  booking_id: 46,
      // participant_id: 461,
      // status: 'hit',
      // score: 'green',
      // game_id: 2,
      // })

      // socket.emit('booking', {
      //   location_id: 1,
      //   lane_id: 7
      // });

      // socket.emit('create-page-log',{
      //   lane_id:7,
      //   location_id:1,
      //   page:'adfsdfsadfsd',
      //   reservation_id:'MILL-24-6559'
      // })

      // socket.emit('game_started', {
      //   lane_id: 7,
      //   location_id: 1,
      //   booking_id:46,
      //   timezone:'Asia/Calcutta'
      // });
      // socket.emit('update_game_time',{
      //   booking_id:46,
      //   minutes:20
      // });

      // socket.emit('undo_throws', {
      //   booking_id: 46,
      //   participant_id: 461,
      //   status: 'undo',
      // });

      // socket.emit(`available_time`,{
      //   lane_id:7,
      //   location_id:1
      // });
      // socket.emit('update_participant_status', {
      //   booking_id: 46,
      //   participant_id: 468,
      // })
        // socket.emit('selected_participants',{
        //   booking_id:46,
        // });
        
        socket.emit('update_participant_details',[
          {
            name:'Bray',
            booking_id:46,
            user_id:468,
            playing_order:2,
            status:'spectator',
          },
          {
            name:'LookH',
            booking_id:46,
            user_id:467,
            playing_order:3,
            status:'spectator',
            
          }
        ]);
    });

    socket.on('updateParticipantDetails',(data)=>{
      console.log("participant data",data);
    })
    // socket.on('selectedParticipants',(data)=>{
    //   console.log("selected Partcipants",data);
    // })

    // socket.on('updateStatusPartcipant', (data) => {
    //   console.log("Update Partcipants Status", data);
    // });
    // socket.on('PageLog',(data)=>{
    //   console.log(data);
    // });
    // socket.on('partcipantsList', (data) => {
    //   console.log('Initial participants:', data);
    // });
    // // socket.on('assignTargets', (data) => {
    //     console.log('assign target:', data);
    // });
    // socket.on('validation_error', (data) => {
    //     console.log('Validation Messages:', data);
    // });
    // socket.on('winnerList', (data) => {
    //     console.log('winner_lists:', data);
    // });
    // socket.on('PlayingTime', (data) => {
    //      console.log("Playing time ", data);
    //  });

    // socket.on(`location:1:laneId:7:booking`, (data) => {
    //   console.log("games", data);
    // });

    // socket.on('laneId:7:timer',(data)=>{
    //   console.log("Hello",data)
    // })
    // socket.on('updateTime',(data)=>{
    //   console.log("Hello",data)
    // })

    //  socket.on('undoThrows',(data)=>{
    //   console.log("undo_thorws",data)
    // })
    // socket.on('availableTime', (data) => {
    //   console.log("availableTime", data)
    // })

  </script>
</body>

</html>